h1, h2, h3, h4, h5, h6 {
    font-family: 'Comfortaa', cursive;
}
body {
    font-family: 'Maven Pro', sans-serif;
}

.uk-logo {
    font-family: 'Tangerine', cursive;
    font-family: 'Arizonia', cursive;
    font-size:50px;
}
.uk-logo img {height:100%;}
.uk-navbar-transparent {}

.vh-max {
    height: 100vh;
}

.uk-background-primary {
    background-color: #208aae;
}
.uk-background-secondary {
    background-color: #f25f5c;
}
.uk-background-muted {
    background-color: #e2e2e2;
}
.uk-background-default {
    background-color: #fcfcfc;
}
.uk-background-dark {
    background-color: #2c3e50
}
.uk-color-primary {
    color: #208aae;
}
.uk-color-secondary {
    color: #db2763;
}
.uk-color-muted {
    color: #e2e2e2;
}
.uk-color-default {
    color: #fcfcfc;
}
.uk-color-dark {
    color: #2c3e50
}

.size5 { font-size: 5em; }
.size4 { font-size: 4em; }
.size3 { font-size: 3em; }
.size2 { font-size: 2em; }
.size1 { font-size: 1em; }

.uk-card { background-color: #fff; }
.grow { transition: all .2s ease-in-out; }
.grow:hover { transform: scale(1.1); }